.Header {
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
    max-width: 100vw;
    top: 0;
}
.HeaderGroup {
    color: white ;
    margin: 0 auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(8, auto);
    -ms-grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-items: center;
}

.PHeaderGroup {
    background: rgba(8, 9, 11, 0.8) ;
}

.HeroGroup {
    margin: 0 auto;
    max-width: 500px;
    padding: 150px 50px;
    text-align: center;
}
.HeaderGroup h1 , .PHeaderGroup h1  {
    margin: 1.5vh 0;
    color: inherit;
    font-size: 2.5vw;
    
    }
.Header a, .link {
    color: inherit;
    font-size: 2vw;
    font-weight: 700;
    filter: none;
}
.Flare {
    grid-column-start: 8;
    -ms-grid-column-start: 8;
    width: 125px;
    height: 100px;
}
.Photos {
    grid-column-start: 7;
    -ms-grid-column-start: 7;
}
.LookBook {
    grid-column-start: 8;
    -ms-grid-column-start: 8;
}
.HeaderScrolled {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(8, 9, 11, 0.8) ;
    color: white !important;

}
@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }
    .Header a:nth-child(4){ 
        display: none;
    }
    .Photos {
        grid-column-start: 5 !important;
        -ms-grid-column-start: 5 !important;
    }
    .HeroGroup {
        padding: 100px 20px;
    }
}


