.Header {
    position: fixed;
    width: 100%;
    padding: 0.5vw 0px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
}
.HeaderGroup {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-items: center;
}
.Header a {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.Flare {
    grid-column-start: 8;
    width: 125px;
    height: 100px;
}
.Photos {
    grid-column-start: 6;
}
.Videos {
    grid-column-start: 7;

}
h1 {
    color: white;
}
.HeaderScrolled {
    background: rgba(8, 9, 11, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }
    .HeaderGroup {
        grid-template-columns: repeat(4, auto)
    }
    .Header a:nth-child(4){ 
        display: none;
    }
}

